:root {
  --main-color: #282c349a;
  --secondary-color: #61dafb;
  --quote-height: 0px;
}

.App {
  background-color: var(--main-color);
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.quote{
  position: relative;
  display: flex;
  flex-direction: column;
  margin:auto;
  top: var(--quote-height);
  width:50vw;
  border-radius: 5px;
  color:var(--main-color);
  background-color: antiquewhite;
  z-index: 1;
}

.quote-text{
  margin:30px;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.button-group{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

button{
  background-color: var(--main-color);
  color:white;
  border:none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

button:hover{
  background-color: var(--secondary-color);
}

.icon{
  margin-left: 10px;
}

.twitter{
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.twitter .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  border:none;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color:#000000aa;
  opacity: 0;
  transition: opacity 1s;
}

.twitter:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fade-in{
  animation: fadeIn 2500ms ease forwards;
}

.scale{
  animation: scaleInOut 3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}